.DS_Store
npm-shrinkwrap.json

node_modules/

# Elastic Beanstalk CLI Files
.elasticbeanstalk/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
package-lock.json
src/debug.log
src/a-new-startup-debug.log
reports/

Dockerfile-multi-arch
